<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="gem_vehicle"/>

  <group ns="$(arg namespace)">

    <!-- robot_description is used by nodes that publish to joint_states. -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find gem_description)/urdf/gem.urdf.xacro'"/>

    <!-- Read joint positions from joint_states, then publish the vehicle's state to tf. -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

  </group>

</launch>
