---
layout: page
title: Past Events
permalink: /outreach/
main_nav: true
---

<div class="wrapper">
  <div>
      <h1>GRAIC '21</h1>
      <p>GRAIC '21 was the first iteration of GRAIC hosted at CPS-IOT Week 2021.
      GRAIC '22 is based on this first iteration of GRAIC, and we hope to improve the quality of GRAIC.
      GRAIC '21 was a part of three events: the OCAR-ICRA 2021 workshop, CPS-IOT Week 2021, and EOH 2021 at the University of Illinois Urbana-Champaign.
      A brief description of these events and their associated videos can be found below.</p>
  </div>
  {% for entry in site.outreach %}
  <div>
      {% capture year %}{{entry.date | date: "%Y"}}{% endcapture %}
      {% if year == "2020" %}
          {% if entry.title != blank %}
          <h2>{{entry.title}}</h2>
          {% endif %}
          <p>{{entry.content}}</p>
      {% endif %}
  </div>
  {% endfor %}
</div>
