<?xml version="1.0"?>

<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="namespace" default="/"/>
  <arg name="cmd_timeout" default="0.5"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gem_gazebo)/worlds/mp5.world"/>
    <!-- <arg name="world_name" value="$(find gem_gazebo)/worlds/mp5_test.world"/> -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="false"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <!-- <arg name="model" default="$(find mp3)/urdf/polaris.urdf"/>
  <param name="robot_description" textfile="$(arg model)"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-param robot_description -x 0 -y 0 -z 1 -urdf -model polaris"/> -->
  <!-- Vehicle pose -->
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>

  <include file="$(find gem_gazebo)/launch/gem_vehicle.launch">
    <arg name="namespace" value="/gem"/>
    <arg name="name" value="gem"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="-98.0"/>
    <arg name="z" value="1.0"/>
  </include>
<!-- 
  <include file="$(find gem_gazebo)/launch/gem_vehicle2.launch">
    <arg name="namespace" value="/gem2"/>
    <arg name="name" value="gem2"/>
    <arg name="x" value="-10.0"/>
    <arg name="y" value="-98.0"/>
    <arg name="z" value="1.0"/>
  </include> -->


</launch>
