{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}



{% elsif page.header == false %}

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}



{% else %}

<div id="masthead-with-text" style="{% if page.header.background-color %}background: {{ page.header.background-color }};{% endif %} {% if page.header.image_fullwidth %}{% elsif page.header.pattern %}background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('{{ site.urlimg }}/{{ page.header.pattern }}'){% endif %}">
	<div class="row">
		<div class="small-12 columns">
			<div class="masthead-title">{{ site.title }}</div>
		</div><!-- /.small-12.columns -->
			<div style="font-size: 30px;">{{ site.slogan }}</div>
	</div><!-- /.row -->
</div><!-- /#masthead -->

{% if page.breadcrumb == true %}
{% include _breadcrumb.html %}
{% endif %}

{% if page.header.caption_url && page.header.caption %}
<div class="masthead-caption">
	<a href="{{ page.header.caption_url }}">{{ page.header.caption }}</a>
</div>
{% elsif page.header.caption %}
<div class="masthead-caption">
	{{ page.header.caption }}
</div>
{% endif %}

{% endif %}
